@import '../../../styles/colors.css';

.fieldContainerSmall label {
	color: white;
}

.fieldContainerSmall input {
	display: block !important;
    width: 300px;
    height: 48px;
    opacity: 1;
    outline: none;
    background-color: var(--input-color);
    border-radius: 10px;
    border: 0px;
	padding: 0px 8px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: none;
}
