@import '../../styles/colors.css';

.mainContainer {
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.createTitle {
	color: white;
	font-size: 32px;
	font-weight: 500;
	margin: 0;
}

.createSubtitle {
	color: white;
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 250px;

	@media only screen and (min-width: 768px) {
		max-width: 500px;
	}
}

form button {
	color: white;
	margin-top: 30px;
	background-color: rgb(68, 163, 255);;
}

form button:hover {
	border: 1px solid var(--delimiter-color);
}

form button:disabled {
	margin-top: 30px;
	border: none;
	cursor: wait;
}

