@import '../../styles/colors.css';

.createTitle {
	color: white;
	font-size: 32px;
	font-weight: 500;
	margin: 0;
}

.createSubtitle {
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

form button {
	margin-top: 30px;
	background-color: #1a1a1a;
}

form button:hover {
	border: 1px solid var(--delimiter-color);
}

form button:disabled {
	margin-top: 30px;
	border: none;
	cursor: wait;
}

