@import '../../../styles/colors.css';

.fieldContainer {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.fieldContainer label {
	color: white;
}

.dragNDropContainer {
    cursor: pointer;
	max-width: 250px;
    height: 48px;
    background-color: var(--input-color);
    border-radius: 10px;
    border: 0px;
	padding: 0px 8px;
    color: gray;
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media only screen and (min-width: 768px) {
		max-width: 500px;
	}
}

.documentImage {
	width: 200px;
	height: 100px;
    margin-top: 20px;
    align-self: center;
}
