@import '../../../styles/colors.css';

.fieldContainer {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.fieldContainer label, .fieldContainerSmall label {
	color: white;
}

.fieldContainer input, .fieldContainerSmall input {
	max-width: 250px;
    height: 48px;
    opacity: 1;
    outline: none;
    background-color: var(--input-color);
    border-radius: 10px;
    border: 0px;
	padding: 0px 8px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: none;

    @media only screen and (min-width: 768px) {
		max-width: 500px;
	}
}

.fieldContainerSmall input {
	width: 300px;
}

.errorMessage {
    color: white;
    font-size: 14px;
    font-weight: 300;
}
